@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}
